<template name="home">
  <div class="ui segment">
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
    home template<br/>
  </div>
</template>
